canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#mobile-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding-top: 20vh;
    z-index: 1000;
}

#currentLevel {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 80px;
    z-index: 1000;
}

#currentHeight {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-weight: bold;
    font-size: 50px;
    z-index: 1000;
}

#maxHeight {
    position: absolute;
    top: 10px;
    left: 10px;
    color: goldenrod;
    font-weight: bold;
    font-size: 50px;
    z-index: 1000;
}

#progressBarContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    border-radius: 15px;
}

#progressBar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 15px;
}