canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#mobile-warning {
    display: none; /* Hidden by default */
    position: fixed; /* Cover the whole screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white;
    text-align: center;
    padding-top: 20vh; /* Center the text vertically */
    z-index: 1000; /* Ensure it's on top */
}